@page
@model LexiBalance.Pages.Ventas.CreateModel

@{
    ViewData["Title"] = "Insertar";
}

<h1>Insertar venta</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Venta.Producto" class="control-label"></label>
                <select asp-for="Venta.Producto" class="form-control">
                    @foreach (string item in LexiBalance.Pages.Ventas.CreateModel.productos)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="Venta.Producto" class="text-danger"></span>
                @if (LexiBalance.Pages.Ventas.CreateModel.productoBorrado)
                {
                    <p style="color:#FF0000">
                        El producto insertado ha sido borrado.
                    </p>
                }
            </div>
            <div class="form-group">
                <label asp-for="Venta.Cantidad" class="control-label"></label>
                <input type="number" asp-for="Venta.Cantidad" class="form-control" />
                <span asp-validation-for="Venta.Cantidad" class="text-danger"></span>
                @if (LexiBalance.Pages.Ventas.CreateModel.segundaVez)
                {
                    <p style="color:#FF0000">
                        Comprueba la cantidad. Valor no válido.
                    </p>
                }
            </div>
            <div class="form-group">
                <label asp-for="Venta.Cliente" class="control-label"></label>
                <select asp-for="Venta.Cliente" class="form-control">
                    @foreach (string item in LexiBalance.Pages.Ventas.CreateModel.clientes)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="Venta.Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venta.Trabajador" class="control-label"></label>
                <select asp-for="Venta.Trabajador" class="form-control">
                    @foreach (string item in LexiBalance.Pages.Ventas.CreateModel.trabajadores)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="Venta.Trabajador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Insertar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-page="Index">Volver a ventas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
