@page
@model LexiBalance.Pages.Ventas.DeleteModel

@{
    ViewData["Title"] = "Borrar";
}

<h1>¿Borrar la venta #@Html.DisplayFor(model => model.Venta.ID)?</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venta.Producto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venta.Producto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venta.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venta.Cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venta.Trabajador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venta.Trabajador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venta.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venta.Fecha)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Venta.ID" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver a ventas</a>
    </form>
</div>
