@page
@model LexiBalance.Pages.Ventas.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles venta #@Html.DisplayFor(model => model.Venta.ID)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venta.Producto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venta.Producto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venta.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venta.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venta.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venta.Cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venta.Trabajador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venta.Trabajador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venta.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venta.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Venta.ID">Editar</a> |
    <a asp-page="./Index">Volver a ventas</a>
</div>
