@page
@model LexiBalance.Pages.Clientes.IndexModel

@{
    ViewData["Title"] = "Clientes";
}

<p><img src="~/img/clientes.png" /></p>
<p>
    <a asp-page="Create">Insertar cliente</a>
</p>
<table class="table" style="table-layout:fixed;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].CP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cliente)
        {
            <tr>
                <td style="word-wrap:break-word;">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
