@page
@model LexiBalance.Pages.Productos.IndexModel

@{
    ViewData["Title"] = "Productos";
}

<p><img src="~/img/productos.png" /></p>
@if (User.Identity.Name.Equals("Gerente"))
{
    <p>
        <a asp-page="Create">Insertar producto</a>
    </p>
}

<form style="text-align:right; font-size:12px;">
    <p>
        Producto: <input type="text" asp-for="Buscar" />
        <input type="submit" value="Buscar" />
    </p>
</form>

<table class="table" style="table-layout:fixed;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Caracteristicas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Productos)
        {
            <tr>
                <td style="word-wrap:break-word;">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)€
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td style="word-wrap:break-word;">
                    @Html.DisplayFor(modelItem => item.Caracteristicas)
                </td>
                <td>
                    @if (User.Identity.Name.Equals("Gerente"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a>
                        <a>|</a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.ID">Detalles</a>
                    @if (User.Identity.Name.Equals("Gerente"))
                    {
                        <a>|</a>
                        <a asp-page="./Delete" asp-route-id="@item.ID">Borrar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
